<!-- Pages/Index.razor -->
@page "/"

<div class="container">
    <h1>Welcome to F.C. Copenhagen Stats</h1>
    <p>This application provides the latest information about F.C. Copenhagen's players, upcoming games, and league standings.</p>
    <div class="banner">
        <img src="https://www.fck.dk/sites/default/files/styles/article_full/public/images/2023-11/231031_fck-fcm-19.jpg?itok=Cyi2QDxG" class="img-fluid" alt="F.C. Copenhagen Banner">
    </div>
</div>


<!-- yidsdyNN0WTt6jtjUmevf5sHAM8h9ImD5pCq1jPxeM5kr8mPDNvgsapWa9Ok -->